<%- include("partials/header") %>

<h1>Contact</h1>
<p> <%= ContactText %> </p>

    <div style="text-align: center; margin-top: 5%;">
        <a href="https://www.facebook.com/darius.capolna"><i class="fab fa-facebook btn-big"></i> </a>
        <a href="https://www.instagram.com/darius184/?hl=ro"><i class="fab fa-instagram btn-big"></i>  </a>
        <a href="https://github.com/DariusDC"><i class="fab fa-github btn-big"></i> </a>
        <a href="#"><i class="fab fa-linkedin-in btn-big"></i> </a>
    </div>
     
<%- include("partials/footer") %> 