
<%- include('partials/header')  %> 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Succes!!!</h1>
      <p class="lead">You have been succesfully signed up to my newsletter!</p>
    </div>
  </div>

  <%- include('partials/footer')  %> 